body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    position: relative;
}
.biography-p .carrousel-vertical {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.biography-p .navbar-toggler-space {
    width: 100%;
    height: 40px;
}
.biography-p .card {
    display: flex;
    flex-wrap: wrap;
}
.biography-p .card .backdrop-blur-y, .backdrop-blur-x {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}
.biography-p .card .backdrop-blur-y {
    width: 100%;
    height: 7vmin;
}
.biography-p .card .backdrop-blur-x {
    width: 5%;
}
.biography-p .biography-s {
    box-sizing: border-box;
    width: 90%;
    border: unset;
    padding: 3vmin;
    position: relative;
    background-color: #ffffff80;
    box-shadow: 0 0 5vmin black;
}
.biography-p .biography-s h1 {
    font-size: 3em;
}
.biography-p .biography-s section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.biography-p .biography-s section article {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 280px;
    width: 15vmin;
}
.biography-p .biography-s .img-space {
    height: calc(70vmin - 200px);
    width: 85vmin;
}
.biography-p .biography-s img {
    height: 70vmin;
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;
}
.biography-p .form-group-row {
    display: flex;
    flex-wrap: wrap;
}
.biography-p .form-group-row>*{
    flex-grow: 1;
    width: 200px;
}
.biography-p .alert-default {
    display: block;
}
.biography-p .alert-default p {
    padding: 10px;
}
.biography-p .alert-highlight {
    padding: 10px;
    padding-bottom: 0;
    display: block;
}
.biography-p .alert-highlight p {
    margin: 0;
    padding: 10px;
}
.biography-p .input-text-group {
    box-sizing: border-box;
    margin: 10px;
    padding: 0;
    border: unset;
    position: relative;
    display: flex;
}
.biography-p .input-text-group label {
    position: absolute;
    top: 1px;
    left: 5px;
    color: gray;
}
.biography-p .input-text-group input, .biography-p .input-text-group textarea {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    padding: 10px;
    padding-top: 20px;
}
.biography-p .date-range{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media screen and (max-width: 1000px) {
    .biography-p .biography-s section article {
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .biography-p .biography-s img {
        max-width: 90%;
        height: auto;
        top: calc(98px + 5vmin);
    }
    .biography-p .biography-s .img-space {
        max-width: 90%;
        max-height: 50vw;
        height: calc(70vmin - 8em);
    }
}
@media screen and (max-width: 460px) {
    .biography-p .biography-s img {
        max-width: 90%;
        height: 70vmin;
        height: auto;
        margin: 5px;
        position: absolute;
        top: calc(98px + 3em + 8vmin);
        right: 0;
    }
}
@media screen and (max-width: 400px) {
    body {
        padding: 0;
    }
    .biography-p .biography-s {
        width: 100%;
    }
    .biography-p .biography-s img {
        top: calc(98px + 1em);
    }
}
@media screen and (max-width: 385px) {
    .biography-p .biography-s img {
        top: calc(98px + 4em);
    }
}