.gallery-p {
    background-position-x: center;
}
.gallery-p .navbar-toggler_space {
    height: 50px;
}
.gallery-p #gallery-s {
    margin: 3vw;
    margin-top: 0;
    border: unset;
    padding: 2vmin;
    background-color: transparent;
    box-shadow: 0 0 1vw;
    -webkit-backdrop-filter: blur(2px) brightness(1.2);
    backdrop-filter: blur(2px) brightness(1.2);
}