.img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
}
.carrousel-nav {
    opacity: none;
    transform: scale(0)
}

@media screen and (max-width: 749px){
    .carrousel-nav {
        opacity: 1;
        transform: scale(1)
    }
}