.gallery-c {
    padding: 2vmin 0 0 0;
    display: flex;
    flex-wrap: wrap;
}
.gallery-c .gallery-item {
    border-radius: 6px;
    margin: 2vmin;
    flex-basis: auto;
    flex-grow: 1;
    background-position: center;
    background-size: cover;
}
.gallery-c .gallery-item-blur {
    border-radius: 6px;
    padding: 2vmin;
    display: flex;
    -webkit-backdrop-filter: blur(2px) brightness(0.5);
    backdrop-filter: blur(2px) brightness(0.5);
}
.gallery-c img {
    box-shadow: 0 0 1vw black;
}
.gallery-c img {
    height: 25vmin;
    width: auto;
    flex-basis: auto;
    flex-grow: 1;
}
.gallery-c .space {
    opacity: 0;
    flex-grow: 3;
}